<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style> #getdata{
 border-radius: 6px;
 height: auto; width: 450px;
 margin:auto; }
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
<div class="navbar-header">
      <a class="navbar-brand" href="homepage">Studentor</a>
    </div>
  </div>
</nav>
<div class="page-header">
  <h1>School Name</h1>
</div>


<div id=getdata>
<center><h3>Login</h3></center>
<form method="POST" class="form-horizontal" action="/signin">

  <div class="form-group">
    <label class="control-label col-sm-2">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" placeholder="Enter email">
    </div>
  </div>
  
  
  <div class="form-group">
    <label class="control-label col-sm-2">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" class="form-control" name="pwd" placeholder="Enter password">
    </div>
  </div>

        <center>  <input type="Submit" value="Login"></center>

     
</form>
</div>
</body>
</html>