<!DOCTYPE html>
<html lang="en">
<head>
  <title>Upload</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style> #getdata{
 border-radius: 6px;
 height: auto; width: 450px;
 margin:auto; }
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
<div class="navbar-header">
      <a class="navbar-brand" href="adminpage">Studentor</a>
    </div>
<ul class="nav navbar-nav navbar-right">
      <li><a href="homepage">Log out</a></li>
    </ul>
  </div>
</nav>
<div class="page-header">
  <h1>School Name</h1>
</div>
<div id=getdata>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <h2>Upload file in .xls format</h2>
    <div class="form-group">
        <table class="table">
            <tr>
                <th>Semester</th>
                <th>Section</th>
            </tr>
            <tr>
                <td>

        <input type="radio"  name="sem" value="1" checked><label><h4>1 &nbsp;</h4></label>
        <input type="radio"  name="sem" value="2"><label><h4>2 &nbsp;</h4></label>
        <input type="radio"  name="sem" value="3"><label><h4>3 &nbsp;</h4></label>
        <input type="radio"  name="sem" value="4"><label><h4>4 &nbsp;</h4></label>
        <input type="radio"  name="sem" value="5"><label><h4>5 &nbsp;</h4></label>
        <input type="radio"  name="sem" value="6"><label><h4>6 &nbsp;</h4></label>
        <input type="radio"  name="sem" value="7"><label><h4>7 &nbsp;</h4></label>
        <input type="radio"  name="sem" value="8"><label><h4>8 &nbsp;</h4></label>
    </td>
                <td>

        <input type="radio"  name="sec" value="A" checked > <label><h4>A&nbsp;</h4></label>
        <input type="radio"  name="sec" value="B"><label><h4>B</h4></label>
                </td>
            </tr>
            </table>


         <input type="file"  class="form-control"  name="students" accept="application/vnd.ms-excel" />
    </div>
    <div class="form-group">
    <input type="submit"  class="form-control" value="Upload" >
    </div>
</form>
</div>
</body>
</html>